<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>User</th>
    <th>Replies</th>
    <th>Date</th>
  </tr>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.name%></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
</table>